@code {
    private string title;
    private string text;

    [Parameter]
    public EventCallback<(string Title, string Text)> OnNoteAdded { get; set; }

    private async Task AddNewNote()
    {
        await OnNoteAdded.InvokeAsync((title, text));
        title = string.Empty;
        text = string.Empty;
    }
}

<div>
    <input type="text" class="form-control mb-2" placeholder="Заголовок" @bind="@title" />
    <textarea class="form-control mb-2" rows="3" placeholder="Текст нотатки" @bind="@text"></textarea>
    <button class="btn btn-primary" @onclick="AddNewNote">Додати</button>
</div>
